<% @cocktails.each do |cocktail| %>
  	<h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
	<p><%= link_to "Add a new dose", new_cocktail_dose_path(cocktail) %></p>
<% end %>
<p><%= link_to "Add a new cocktail", new_cocktail_path %></p>


<!-- 
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->